
{# -- Base web layout template that all web requests inherit from -- #}
{#
┌─────────────────────────────────────────────────────────────────────────────┐
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                 htmlTag                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                 headTag                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                                                         │ │
│ │                                                                         │ │
│ │                                                                         │ │
│ │                               headContent                               │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                 bodyTag                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                                                         │ │
│ │                                                                         │ │
│ │                                                                         │ │
│ │                               bodyContent                               │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│                                                                             │
│                                  htmlPage                                   │
└─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends '_layouts/base/global-variables.twig' %}
{%- block htmlPage -%}
    {% minify %}
    <!DOCTYPE html>
        {% block htmlTag %}
            <html lang="{{ craft.app.language |slice(0,2) }}">
        {% endblock htmlTag %}
        {% block headTag %}
    <head>
        {% endblock headTag %}
        {# -- Page content that should be included in the <head> -- #}
        {% block headContent %}
        {% endblock headContent %}
        <script>
            {% apply spaceless %}
            {% endapply %}
        </script>
    </head>


        {% block bodyTag %}
        <body class="">
        {% endblock bodyTag %}
            {# -- Page content that should be included in the <body> -- #}
            {% block bodyContent %}
            {% endblock bodyContent %}
        </body>
    </html>
    {% endminify %}
{%- endblock htmlPage -%}
